# Dependency directories
node_modules

# Environment files
config/*.env
.env

# Logs
logs/
*.log

# Build output
build/

# Docker and Docker Compose files
docker-compose.yml
Dockerfile

# IDE and editor files
.vscode/
.idea/
*.iml
*.log

# Dependency lock files
package-lock.json
yarn.lock

# IDE files
.vscode/
.idea/

# Miscellaneous files
.DS_Store
Thumbs.db

# Ignore other common temporary files
*.swp
*.swo
*.tmp